<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit Producto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h3>Editar producto</h3>
              <form th:action="@{/save}"  method="post">
                  
                  <input type="hidden" name="id" th:value="${producto.id}">
           
                <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Nombre</label>
  <input type="text" class="form-control" id="formGroupExampleInput"  name="nombre" th:value="${producto.nombre}">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Descripción</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" name="descripcion"th:value="${producto.descripcion}" >
</div>
                <div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Precio</label>
  <input type="text" class="form-control" id="formGroupExampleInput3" name="precio"th:value="${producto.precio}">
</div>
                  
            <button type="submit" class="btn btn-success">Actualizar</button>
            </form>
        </div>
    </body>
</html>